# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

 Objectives:  List popular languages for Data Science
 -Julia
 -C++
 -SCALA
 -MATLAB
 -JAVASCRIPT

Some of the popular languages that Data Scientists use are:
     1- Python
     2-R
     3-SQL
     4-JAVA

Some of the commonly used libraries used by Data Scientists include:
    1-MATPLOTLIB
    2-PANDAS
    3-SEABORN
    4-SKLEARN

Data Science Tools. 
    1-GIT
    2-APACHE SUBVERSIION
    3-CHEF

In [3]:
Below are a few examples of evaluating arithmetic expressions in Python.
This a simple arithmetic expression to multiply then add integers.
(3*4)+5=

SyntaxError: invalid syntax (3542377963.py, line 1)

In [4]:
 This will convert 200 minutes to hours by diving by 60.

SyntaxError: invalid syntax (3154993950.py, line 1)

In [ ]:
## Author 
MORGAN MILLER